<div class="booking-card">
  <h4>From ¥<%= @experience.price %>/ person</h4>
  <small class="text-muted"><u>Show all prices</u></small>
  <%= simple_form_for @booking do |f| %>
    <%= f.input :start_time, as: :string, label: false, placeholder: "Choose your date...", input_html: {class: "datepicker"} %>
    <div class="row mt-3 today-date">
      <div class="col-6">
        <small><strong></em><%= Date.today.to_s(:long) %></strong></small><br>
      <small class="text-muted">1PM - 3PM</small>
    </div>
    <div class="col-6">
      <%= f.button :submit, "Book experience", class: "btn-teal" %>
    </div>
  </div>
  <hr>
  <div class="row mt-3">
    <div class="col-6">
      <small class="template-date"><strong></em><%= Date.tomorrow.to_s(:long) %></strong></small><br>
    <small class="text-muted">1PM - 3PM</small>
  </div>
  <div class="col-6">
    <%= f.button :submit, "Book experience", class: "btn-teal" %>
  </div>
</div>
<% end %>
</div>
