<%# Experience card for the index %>
<div class="card-experience">
  <%= cl_image_tag experience.photos.first&.key %>
  <div class="card-experience-infos w-100">
    <div>
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="fw-light"><%= experience.name %></h5>
        <i class="far fa-heart fa-lg"></i>
      </div>
      <div class="divider-mini"></div>
      <p><strong>What We'll do:</strong></p>
      <p><%= experience.description %></p>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <%= render 'reviews/details', experience: experience %>
      </div>
      <div>
        <span class="fw-bold">¥<%= number_with_delimiter(experience.price, delimiter: ",") %></span> / person
      </div>
    </div>
  </div>
  <%= link_to '', experience_path(experience), class: 'card-experience-link' %>
</div>
