<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid d-flex">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="ms-3 fas fa-skull-crossbones text-primary"></i>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Experiences", experiences_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Be a Guide", new_experience_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown dropstart">
            <%= content_tag :div, id: "navbarDropdownMenuLink", data: { "bs-toggle": "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, role: "button", class: "d-flex align-items-center" do %>
              <i class="fas fa-bars me-2"></i>
              <%= render 'avatar', user: current_user, border: true %>
            <% end %>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <% if user_signed_in? %>
                <li><%= link_to "Be a Guide", new_experience_path, class: "dropdown-item" %></li>
                <li><%= link_to "Experiences", experiences_path, class: "dropdown-item" %></li>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
